@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

$gray: #fafafa;

body {
    background-color: $gray;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.st0 {
    fill: #2eaf5f;
}
.st1 {
    fill: #32af5f;
}
.st2 {
    fill: #4c494b;
}
